.ring {
  stroke-dasharray: 10, 250;
  fill: none;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 10, 250;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 125, 250;
    stroke-dashoffset: -125;
  }
  100% {
    stroke-dasharray: 250, 250;
    stroke-dashoffset: -250;
  }
}
